{% macro company_card(company) %}

<div class="col">
   <div class="card h-100">
     <!-- <img src="../../static/img/car.jpg" class="card-img-top h-15" alt="Insurance Image 1" > -->
     <div class="card-body" >
       <h5 class="card-title responsive-heading" style="background-color: #28a745; color: white; padding: 10px; border-radius: 5px;">
         {{ company.title}}
       </h5>
       <p class="card-text responsive-text">
		<b> Insurance types: </b>{{ company.insurance_types}}<br>
       </p>
     </div>
     <div class="card-footer">
       <small class="text-body-secondary">
		{{ company.description }} 
</small>
     </div>
   </div>
 </div>

 {% endmacro %}