{% from 'partials/company_card.html' import company_card %}

{% extends "partials/base.html" %}



{% block title %} 
Skoda mobile app
{% endblock %}

{% block inspect_default %}


	<div class="container-md">
		<div class="container-md p-2">
		<h1> Skoda Insurance </h1>
		</div>
			<div class=" container-md skoda-box">
				{% if user_insurance is not none %}
				    <div class="container-md skoda-box-content">
				        <h2 class="responsive-heading">Active Insurance</h2>
				    </div>
				{% endif %}
			</div>
			<div class=" container-md skoda-box">
				{% if user_insurance is not none %}
				    <div class="container-md skoda-box-content">
				        <h2 class="responsive-heading">Profile Settings</h2>
				    </div>
				{% endif %}
			</div>
    		<div class="row row-cols-1 row-cols-md-3 g-4 pt-4">
				{% for company in companies %}
					{{ company_card(company) }}
				{% endfor %}
			</div>
	</div>


	</div>
{% endblock %}
